/**
 * First page the user sees, the landing page.
 *
 * Contains a 3D asset in the back.
 */

.landing-page-background {
  background-color: black;
  width: 100%;
  height: 100vh;

  #landing-page-cube {
    width: 100%;
    height: 100vh;
  }
}

.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .links {
    position: absolute;
    top: 24px;
    left: $X_MARGIN/2;

    .link {
      font-family: $FONT_BODY;
      font-size: $FONT_SIZE_LINK;
      display: block;
      color: white;
      text-decoration: none;
      padding-bottom: 10px;
    }
  }

  #curr-line {
    position: absolute;
    left: $X_MARGIN/2;
    bottom: 40%;
    display: block;

    #line-name {
      font-size: $FONT_SIZE_LINE;
    }

    #designers-name {
      font-size: $FONT_SIZE_DESIGNER;
      font-family: $FONT_SUBHEAD;
    }
  }
}

.title-theme {
  position: absolute;
  top: 24px;
  font-size: $FONT_SIZE_TITLE;
}