/**
 * Landing page navbar
 */

.navbar {
  width: 1039px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 12px 0 12px 0;

  // Put this navbar at the bottom
  position: fixed;
  bottom: 141px;

  .nav-circle {
    background-color: white;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid black;
    transition: .2s;

  }

  .nav-circle-selected {
    background-color: black;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    border: 2px solid white;
    transition: .2s;
  }
}
