/**
 * Landing page navbar
 * https://github.com/EthanNakache/Sprat-type
 */

 @import "../constants.scss";

.navbar {
  width: 100vw - $X_MARGIN;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0 12px 0;

  // Put this navbar at the bottom
  position: fixed;
  bottom: 5vh;

  .navbar-item {
    font-size: 40px;
    cursor: pointer;

    &.selected {
      text-decoration: underline;
    }
  }

  .nav-circle {
    background-color: rgba(255, 255, 255, .3);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid white;
    transition: .5s;
    cursor: pointer;

    // When a nav circle is selected, we fill it in
    &.selected {
      background-color: white;
    }
  }

  .lineLabel{
    width: 50px;
    font-size: 50px;
  }
}
