/**
 * Landing page navbar
 * https://github.com/EthanNakache/Sprat-type
 */

.navbar {
  width: 100vw - $X_MARGIN;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0 12px 0;

  // Put this navbar at the bottom
  position: fixed;
  bottom: 5vh;

  .navbar-item {
    font-size: $FONT_SIZE_NAV;
    cursor: pointer;
    text-decoration: none;
    transition: .3s;

    &.selected {
      text-decoration: underline;
      transition: .3s;
    }
  }

}
