/**
 * Common animations shared among many elements.
 */

$ANIMATION_DURATION_BLUR: 500ms;
@keyframes blur-in {
  0% {
    opacity: 0;
    filter: blur(5px);
  }
  10% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}