/**
 * Common animations shared among many elements.
 *
 * For each animation, we provide some constants, and also a class that an
 * element can add so it can trigger the animation.
 */

$ANIMATION_DURATION_BLUR: 500ms;
@keyframes blur-in {
  0% {
    opacity: 0;
    filter: blur(5px);
  }
  10% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.blur-in-animation {
  animation: blur-in $ANIMATION_DURATION_BLUR linear forwards;
}

$ANIMATION_DURATION_FADE_OUT: 500ms;
@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fade-out-animation {
  animation: fade-out $ANIMATION_DURATION_FADE_OUT linear forwards;
}

$ANIMATION_DURATION_SLIDE_IN: 500ms;
@keyframes right-bar-slide-in {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes left-bar-slide-in {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

$ANIMATION_DURATION_FADE: 1s;
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity $ANIMATION_DURATION_FADE ease-in;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity $ANIMATION_DURATION_FADE ease-in;
}