/**
 * Watch page for desktop. Similar to the about page where it is not a
 * standalone page, and lives inside the landing page. Its visibility is
 * controlled by the landing page state.
 */

$MARGIN_HORIZONTAL_COUNTDOWN: 5vw;
$SUBTEXT_FONT_SIZE: 8vw;

#watch-page-desktop {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
  opacity: 0;

  .left-bar {
    transform: translateX(-100%);
  }

  &.mobile-watch-page-open {
    opacity: 1;

    .right-bar {
      animation: right-bar-slide-in $ANIMATION_DURATION_SLIDE_IN forwards;
    }

    .left-bar {
      animation: left-bar-slide-in $ANIMATION_DURATION_SLIDE_IN forwards;
      animation-delay: $ANIMATION_DURATION_SLIDE_IN;
    }

    #countdown, #show-date-text, #show-time-text {
      opacity: 0;
      animation: blur-in $ANIMATION_DURATION_BLUR forwards;
      animation-delay: $ANIMATION_DURATION_SLIDE_IN*2;
    }
  }

  #countdown {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw - 2*$MARGIN_HORIZONTAL_COUNTDOWN;
    margin-right: $MARGIN_HORIZONTAL_COUNTDOWN;
    margin-left: $MARGIN_HORIZONTAL_COUNTDOWN;

    .countdown-component {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 25%;

      .number {
        font-family: 'Sprat Type Condensed';
        font-size: 20vw;
        font-weight: 300;
        letter-spacing: -0.12em;
      }

      .label {
        font-family: $FONT_SUBHEAD;
        font-size: 4.5vw;
        font-weight: 400;
        letter-spacing: $FONT_SPRAT_KERN;
      }
    }
  }

  #show-date {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    bottom: 25vw;
    width: 100vw;

    #show-date-text {
      font-family: 'Sprat Type Condensed';
      font-size: $SUBTEXT_FONT_SIZE;
      font-weight: 300;
      margin-left: $X_MARGIN*4/8;
      margin-right: 12px;
      backface-visibility: hidden;
    }

    .right-bar {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-grow: 1;

      .line {
        flex-grow: 1;
        background-color: white;
        height: 1px;
      }
    }
  }

  #show-time {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    bottom: 10vw;
    width: 100vw;

    #show-time-text {
      font-family: 'Sprat Type Condensed';
      font-size: $SUBTEXT_FONT_SIZE;
      font-weight: 300;
      letter-spacing: -0.12em;
      margin-right: $X_MARGIN*4/8;
      margin-left: 12px;
      backface-visibility: hidden;
    }

    .left-bar {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-grow: 1;
      margin-left: 12px;

      .line {
        flex-grow: 1;
        background-color: white;
        height: 1px;
      }
    }
  }
}