/**
 * Navigation sidebar on desktop
 */

.links {
  position: absolute;
  top: $TOP_MARGIN;
  left: 0;

  &.desktop-landing-page-load {
    opacity: 0;
  }

  .link-wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 4px; //changed from 8px
    transition-duration: 1s;

    &.selected .left-bar {
      opacity: 1;
    }

    .left-bar {
      display: flex;
      flex-direction: row;
      align-items: center;
      opacity: 0;

      .line {
        display: flex;
        flex-grow: 1;
        padding-right: $X_MARGIN/4;
      }

      .dot-basic {
        margin-left: -$CIRCLE_RAD/2;
        margin-right: 14px;
      }
    }

    .link {
      font-family: $FONT_BODY;
      font-size: $FONT_SIZE_LINK;
      text-transform: uppercase;
      font-weight: $FONT_LINK_WEIGHT;
      display: block;
      color: white;
      text-decoration: none;
    }
  }
}
