/**
 * Navigation sidebar on desktop
 */

.links {
  position: absolute;
  top: $TOP_MARGIN;
  left: .65*$X_MARGIN/2; // an aprox guess to get the actual links aligned with the rest of the page

  .link {
    font-family: $FONT_BODY;
    font-size: $FONT_SIZE_LINK;
    text-transform: uppercase;
    font-weight: $FONT_LINK_WEIGHT;
    display: block;
    color: white;
    text-decoration: none;
    padding-bottom: 10px;
  }
}
