/**
 * Style definitions for overlayed lines and dots.
 */

// TODO: this dot is poorly defined because it has too many specific variables,
// making it hard to extend and use in general. See .dot-basic.
.dot {
  width: $CIRCLE_RAD;
  height: $CIRCLE_RAD;
  background-color: white;
  border-radius: 100%;
  position: absolute;
  margin-bottom: -$CIRCLE_RAD/2;
}

.dot-basic {
  width: $CIRCLE_RAD;
  height: $CIRCLE_RAD;
  background-color: white;
  border-radius: 100%;
}

.line {
  height: 1px;
  background-color: white;
}

.vertical-line {
  height: 100vh;
  top: 0;
  position: absolute;
  border-left: 1px solid white;
  border-right: 1px solid white;
  pointer-events: none;

  &.desktop-landing-page-load {
    opacity: 0;
  }
}

#outer-lines {
  left: $OUTER;
  right: $OUTER;
}

#inner-lines {
  left: $X_MARGIN/4;
  right: $X_MARGIN/4;
}

.lower {
  bottom: 0;
}

.upper {
  top: -$CIRCLE_RAD/2;
}

.left-dot {
  left: $OUTER;
  margin-left: -$CIRCLE_RAD/2;
}

.right-dot {
  right: $OUTER;
  margin-right: -$CIRCLE_RAD/2;
}