.dot {
  width: $CIRCLE_RAD;
  height: $CIRCLE_RAD;
  background-color: white;
  border-radius: 100%;
  position: absolute;
  margin-bottom: -$CIRCLE_RAD/2;
}

.vertical-line {
  height: 100vh;
  top: 0;
  position: absolute;
  border-left: 1px solid white;
  border-right: 1px solid white;
  pointer-events: none;
}

#outer-lines {
  left: $OUTER;
  right: $OUTER;
}

#inner-lines {
  left: $X_MARGIN/4;
  right: $X_MARGIN/4;
}

.lower {
  bottom: 0;
}

.upper {
  top: -$CIRCLE_RAD/2;
}

.left-dot {
  left: $OUTER;
  margin-left: -$CIRCLE_RAD/2;
}

.right-dot {
  right: $OUTER;
  margin-right: -$CIRCLE_RAD/2;
}