/**
 * First page the user sees, the landing page.
 *
 * Contains a 3D asset in the back.
 */

$DESIGNERS_NAME_HEIGHT: 46px;
$SEE_MORE_WRAPPER_MARGIN: 1.25vw;
$ARROW_WIDTH: 14px;
$SEE_MORE_BOTTOM_MARGIN: 12px;

.landing-page-background {
  background-color: black;
  width: 100%;
  height: 100vh;
  opacity: 0;
  transition-duration: $LONG_ANIMATION_DURATION;

  &.desktop-landing-page-load {
    opacity: 0;
  }

  /*
  &.visible {
    opacity: 1;
  }
  */

  #landing-page-cube {
    width: 100%;
    height: 100vh;
  }
}

#landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  &.desktop-about-page-open {
    .landing-page-background {
      opacity: 0.65;
      transition-duration: 1s;
    }

    #main-screen #curr-line {
      opacity: 0;
    }
  }
  &.desktop-watch-page-open {
    .landing-page-background {
      opacity: 0.65;
      transition-duration: 1s;
    }

    #main-screen #curr-line {
      opacity: 0;
    }
  }

  .faded {
    opacity: 0;
    transition: 0.2s;
  }

  .notFaded {
    opacity: 1;
    transition: 0.2s;
  }

  #main-screen {
    flex-direction: row;

    &.desktop-landing-page-load {
      opacity: 0;
    }

    #curr-line {
      position: absolute;
      left: $X_MARGIN/2;
      width: 100vw - $X_MARGIN/2;
      bottom: 40vh;
      display: block;

      #line-name {
        font-size: $FONT_SIZE_LINE;
        text-transform: uppercase;
        // transform: $FONT_SPRAT_STRETCH; // Shouldn't be any stretch
        font-weight: $FONT_SPRAT_WEIGHT;
        letter-spacing: $HEADER_TRACKING;
        word-spacing: $HEADER_WORD_SPACING;
      }

      #below-line-name {
        display: flex;
        flex-direction: row;

        #designers-name {
          display: flex;
          height: $DESIGNERS_NAME_HEIGHT;
          font-size: $FONT_SIZE_DESIGNER;
          font-family: $FONT_SUBHEAD;
          text-transform: uppercase;
          letter-spacing: $SUBHEAD_TRACKING;
        }

        #see-more-wrapper {
          display: flex;
          flex-grow: 1;
          flex-direction: column;
          align-items: flex-end;
          // TODO: So I think the bug here is that on windows, the font has
          // extra padding on the bottom, and on mac, the padding appears above
          // the font. This means the padding has to be in different spots
          // depending on platform... I think less padding is more correct, but
          // idk why it doesn't work.
          // padding-bottom: $SEE_MORE_BOTTOM_MARGIN;
          margin-left: 24px;
          right: $SEE_MORE_WRAPPER_MARGIN;

          opacity: 0;
          transition-duration: 1s;
          transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

          &.show {
            opacity: 1;
          }

          #more-info {
            position: absolute;
            display: flex;
            flex-direction: row;
            margin-right: $X_MARGIN/2 - $SEE_MORE_WRAPPER_MARGIN;
            bottom: $FONT_SIZE_DESIGNER;
            text-decoration: none;
            cursor: pointer;

            #more-info-text {
              font-family: $FONT_BODY;
              text-transform: uppercase;
              font-size: $FONT_SIZE_LABEL;
              font-weight: $FONT_LABEL_WEIGHT;
              border-bottom: 2px solid white;
              margin-right: 8px;
            }

            #arrow {
              width: $ARROW_WIDTH;
              height: $ARROW_WIDTH;
              margin-top: $ARROW_WIDTH - 3px;
              border-right: 2px solid white;
              border-bottom: 2px solid white;
              transform: rotate(-45deg);
            }
          }

          #see-more-line-wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-grow: 1;
            margin-right: $SEE_MORE_WRAPPER_MARGIN;
            // Give a little space between the designer name and the circle
            width: 99%;
            // The font has some bottom spacing built-in, this centers the line
            padding-top: 5px;
            // By default, the line is not visible
            transform: translateX(100%);
            transition-duration: 500ms;
            transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

            &.visible {
              transform: translateX(0);
            }

            #see-more-line {
              display: flex;
              right: $OUTER;
              border-bottom: 1px solid white;
              flex-grow: 1;
              height: 1px;
              top: 1px;
            }

            // A bit different from other dots, so not going to use their styles
            #see-more-dot {
              bottom: $SEE_MORE_BOTTOM_MARGIN;
              width: $CIRCLE_RAD;
              height: $CIRCLE_RAD;
              background-color: white;
              border-radius: 100%;
            }
          }
        }
      }
    }
  }

  .logo {
    position: absolute;
    z-index: $Z_INDEX_HEADER;

    // Gonna be totally honest I don't think this is _quite_ accurate to get 21px under the logo
    top: $TOP_MARGIN;
    right: $X_MARGIN/2;
    width: 5.5vh;
    height: 7.3vh;
    cursor: pointer;

    &.desktop-landing-page-load {
      opacity: 0;
    }
    &.desktop-about-page-open {
      opacity: 0;
      transition-duration: 1s;
    }
    &.desktop-watch-page-open {
      opacity: 0;
      transition-duration: 1s;
    }
  }
}
