/**
 * Landing page navbar
 * https://github.com/EthanNakache/Sprat-type
 */

.navbar {
  width: 100vw - $X_MARGIN;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  // Put this navbar at the bottom
  position: fixed;
  bottom: $BOTTOM_MARGIN*.8;

  .navBall {
    margin: auto;
    display: block;
    transform: scale(.9, .8);
    opacity: 0;
    transition: .5s;

    &.selected {
      opacity: 100;
      transition: .5s;
    }
  }

  .navbar-item {
    font-size: $FONT_SIZE_NAV;
    cursor: pointer;
    transform: $FONT_SPRAT_STRETCH;
    font-weight: $FONT_SPRAT_WEIGHT;
    transition: .5s;
    border-bottom: 2px solid;
    border-color: rgba(255, 255, 255, 0);
    padding-bottom: $BOTTOM_MARGIN*.2;

    &.selected {
      transition: .5s;
      border-color: rgba(255, 255, 255, 1);
    }
  }

}
