/**
 * Line page navbar
 */

$UNDERLINE_CIRCLE_WIDTH: 8px;
$UNDERLINE_WIDTH: 32px + 2*$UNDERLINE_CIRCLE_WIDTH;
$UNDERLINE_CIRCLE_TRANSLATE_X: $UNDERLINE_WIDTH/2;
$TOOLTIP_CIRCLE_WIDTH: 10px;
$TOOLTIP_CIRCLE_HEIGHT: 8px;
$TOOLTIP_MARGIN: 10px;
$TOOLTIP_TICK_LENGTH: 27px;

@keyframes underline-animation {
  from {
    width: 0px;
  } to {
    width: $UNDERLINE_WIDTH;
  }
}

@keyframes underline-circle-left-animation {
  from {
    transform: translateX(0);
  } to {
    transform: translateX(-$UNDERLINE_CIRCLE_TRANSLATE_X);
  }
}

@keyframes underline-circle-right-animation {
  from {
    transform: translateX(0);
  } to {
    transform: translateX($UNDERLINE_CIRCLE_TRANSLATE_X);
  }
}

.navbar-line-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-top: 6.66vw;

  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;

  .navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw - 2*3*$OUTER;
  }

  .navBall {
    margin: auto;
    display: block;
    transform: scale(.9, .8);
    opacity: 0;
    transition: .5s;
  }

  .underline-circle {
    position: absolute;
    width: $UNDERLINE_CIRCLE_WIDTH;
    height: $UNDERLINE_CIRCLE_WIDTH;
    background-color: white;
    border-radius: 100%;
  }

  .underline {
    position: absolute;
    width: 0px;
    height: 1px;
    background-color: white;
  }

  .navbar-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: $FONT_SIZE_NAV;
    cursor: pointer;
    transform: $FONT_SPRAT_STRETCH;
    font-weight: $FONT_SPRAT_WEIGHT;
    transition: .5s;
    border-bottom: 2px solid;
    border-color: rgba(255, 255, 255, 0);
    padding-bottom: $BOTTOM_MARGIN*0.05;
    transition: .5s;
    text-decoration: none;

    .underline-animation {
      margin-top: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 12px;
      opacity: 0;
      transition: $MEDIUM_ANIMATION_DURATION;
    }

    &.selected {
      .navBall {
        opacity: 1;
      }

      .underline-animation {
        opacity: 1;

        .left {
          animation: $MEDIUM_ANIMATION_DURATION ease-in-out underline-circle-left-animation forwards;
        }

        .right {
          animation: $MEDIUM_ANIMATION_DURATION ease-in-out underline-circle-right-animation forwards;
        }

        .underline {
          animation: $MEDIUM_ANIMATION_DURATION ease-in-out underline-animation forwards;
        }
      }
    }

    &:hover .tooltip {
      opacity: 1;
    }

    // Special margin rule for the first line since it doesn't fit
    &#line-0 .tooltip .wrapper {
      margin-left: 82px;

      #left-top {
        margin-left: 82px;
      }
    }

    .tooltip {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      bottom: 52px;
      opacity: 0;
      transition-duration: 200ms;

      .vertical-tick {
        width: 1px;
        height: $TOOLTIP_TICK_LENGTH;
        border-right: 1px solid white;
      }

      .wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        border: 1px solid white;
        padding-left: 10px;
        padding-right: 10px;
        background-color: $LANDING_PAGE_BACKGROUND_COLOR;

        .label {
          border-left: 1px solid white;
          border-right: 1px solid white;
          font-family: $FONT_SUBHEAD;
          font-weight: 400;
          font-size: 18px;
          text-transform: uppercase;
          white-space: nowrap;

          padding-top: 8px;
          padding-bottom: 6px;
          padding-left: $TOOLTIP_MARGIN;
          padding-right: $TOOLTIP_MARGIN;
        }

        .dot-basic {
          width: $TOOLTIP_CIRCLE_WIDTH;
          height: $TOOLTIP_CIRCLE_HEIGHT;
          position: absolute;
        }

        #left-top {
          top: -$TOOLTIP_CIRCLE_WIDTH/2 + 1;
          left: $TOOLTIP_CIRCLE_WIDTH/2 + 2;
        }

        #right-bottom {
          right: $TOOLTIP_CIRCLE_WIDTH/2 + 1;
          bottom: $TOOLTIP_TICK_LENGTH - $TOOLTIP_CIRCLE_WIDTH/2 + 1;
        }
      }

      &.inactive {
        opacity: 0;
      }
    }
  }
}
