/**
 * Landing page navbar
 * https://github.com/EthanNakache/Sprat-type
 */

.navbar {
  width: 100vw - $X_MARGIN;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  // Put this navbar at the bottom
  position: fixed;
  bottom: $BOTTOM_MARGIN;

  .diamond {
    margin: auto;
    width: 8.8px;
    height: 8.8px;
    background-color: white;
    border-radius: 100%;
    visibility: hidden;

    &.selected {
      visibility: visible;
    }
  }

  .navbar-item {
    font-size: $FONT_SIZE_NAV;
    cursor: pointer;
    text-decoration: none;
    transform: $FONT_SPRAT_STRETCH;
    font-weight: $FONT_SPRAT_WEIGHT;
    text-underline-offset: 10px;

    &.selected {
      text-decoration: underline;
    }
  }

}
