/**
 * The people page
 */

.main-page {
  display: flex;
  flex-direction: column;
	align-items: center;
	
	.wrapper {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		height: 30vh;
		background: linear-gradient(180deg, rgba(20,20,20,1) 40%, rgba(20,20,20,0) 100%);
		z-index: 100;
		padding: 0;

		.header {
			padding: 0;
			margin: 0;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}

  #team-acordion {
		position: absolute;
		left: $X_MARGIN/2;
		display: block;	
		top: 25%;	

		.Mui-expanded {
			margin: 0;
			//margin-top: 5px;
			padding: 0;
		}

		.team-title {
			font-family: $FONT_DISPLAY;
			text-transform: uppercase;
			transform: $FONT_SPRAT_STRETCH;
			font-weight: $FONT_SPRAT_WEIGHT;
			font-size: 72;
			margin: 0;
			padding: 0;
		}

		.tab-main {
			background-color: $BACKGROUND_COLOR;
			color: white;
			padding: 0;
		}

		.tab-header {
			font-family: $FONT_DISPLAY;
			font-size: 72;
			padding: 0;
		}

		.tab-body {
			width: 100vw - $X_MARGIN;
			padding: 0;
			padding-top: 40px;
			flex-direction: row;
			justify-content: space-between;
			flex-wrap: wrap;

			.teamBio {
				margin-top: 30px;
				margin-bottom: 30px;
				display: block;
				width: 20ww;
				justify-self: space-between;

				.name {
					text-transform: uppercase;
					font-weight: 400;
					font-size: 18px;
					margin: 0;
				}

				.title {
					text-transform: uppercase;
					font-size: 18px;
					margin: 0;
				}

			}


		}
  }
}
