/**
 * Styles shared between mobile and desktop
 */

.logo {
  fill: white;
}

body {
  margin: 0;
  background-color: $LANDING_PAGE_BACKGROUND_COLOR;
  font-family: 'Sprat Type Condensed';
}

a {
  color: white;
}