/**
 * Styles shared between mobile and desktop
 */

.logo {
  fill: white;
}

body {
  margin: 0;
  background-color: $LANDING_PAGE_BACKGROUND_COLOR;
  font-family: 'Sprat Type';
}

a {
  color: white;
}

// common components on all pages

.title-theme {
  position: absolute;
  top: $TOP_MARGIN;
  font-size: $FONT_SIZE_TITLE;
  transform: $FONT_SPRAT_STRETCH;
  font-weight: $FONT_TITLE_WEIGHT;
  letter-spacing: $TITLE_TRACKING;
}

.logo {
  position: absolute;

  // Gonna be totally honest I don't think this is _quite_ accurate to get 21px under the logo
  top: $TOP_MARGIN;
  right: $X_MARGIN/2;
  width: 61px;
  height: 80px;
}