/**
 * Constants for stylesheet
 */

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200;300;400&family=Overpass+Mono:wght@300;400;600;700&display=swap');
@import url('https://use.typekit.net/zhb6cru.css');

// sizing
$X_MARGIN: 10vw;
$TOP_MARGIN: 36px;
$DESKTOP_WIDTH: 768px;
$LINE_ELEMENT_HEIGHT: 142px;
$NAV_ELEMENT_HEIGHT: 126px;

// font families
$FONT_SUBHEAD: 'Overpass Mono', monospace;
$FONT_BODY: 'franklin-gothic-urw', sans-serif;;

// font sizes
$FONT_SIZE_NAV: 36px;
$FONT_SIZE_LINK: 26px;
$FONT_SIZE_LINE: 114px; // changed from 144px
$FONT_SIZE_DESIGNER: 36px;
$FONT_SIZE_TITLE: 48px;
$FONT_SIZE_BODY: 18px;
$FONT_SIZE_SUPERSCRIPT: 18px;

// font adjustments and weights
$FONT_SPRAT_STRETCH: scaleY(1.2);
$FONT_SPRAT_WEIGHT: 300;
$FONT_TITLE_WEIGHT: 400;
$FONT_LINK_WEIGHT: 400;

// letter spacing
$HEADER_TRACKING: -15px;
$TITLE_TRACKING: -5px;
$SUBHEAD_TRACKING: -2px;
