/**
 * Constants for stylesheet
 */

// sizing
$X_MARGIN: 10vw;
$BOTTOM_MARGIN: 10vh;
$TOP_MARGIN: 36px;
$DESKTOP_WIDTH: 768px;
/**
 * NOTE: this is completely arbitrary and loosely based upon values at
 * https://www.kylejlarson.com/blog/ipad-screen-size-guide-web-design-tips/.
 * - Desktop readjusted to 1240 since the navbar starts looking a bit squished
 * - Tablet set to 720 to be below minimum iPad browser width
 */
$TABLET_WIDTH: 672px;
$LINE_ELEMENT_HEIGHT: 142px;
$NAV_ELEMENT_HEIGHT: 126px;

// letter spacing
$HEADER_TRACKING: -0.11em;
$TITLE_TRACKING: -5px;
$SUBHEAD_TRACKING: -2px;

// Word spacing
$HEADER_WORD_SPACING: 0.1em;

// Background color
$LANDING_PAGE_BACKGROUND_COLOR: #000000;