/**
 * Constants for stylesheet
 */

// sizing
$X_MARGIN: 10vw;
$TOP_MARGIN: 36px;
$DESKTOP_WIDTH: 768px;
$LINE_ELEMENT_HEIGHT: 142px;
$NAV_ELEMENT_HEIGHT: 126px;

// letter spacing
$HEADER_TRACKING: -15px;
$TITLE_TRACKING: -5px;
$SUBHEAD_TRACKING: -2px;