/**
 * Import all the fonts used in this project.
 */

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200;300;400&family=Overpass+Mono:wght@300;400;600;700&display=swap');
@import url('https://use.typekit.net/zhb6cru.css');
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital@0;1&display=swap');

@font-face {
    font-family: 'Sprat Type Condensed';
    src: url('../../assets/fonts/sprat-type/Sprat-CondensedLight.otf');
    font-weight: 400;
}

@font-face {
    font-family: 'Sprat Type Condensed';
    src: url('../../assets/fonts/sprat-type/Sprat-CondensedRegular.otf');
    font-weight: 600;
}

// Font families
$FONT_DISPLAY: 'Sprat Type Condensed';
$FONT_SUBHEAD: 'Overpass Mono', monospace;
$FONT_BODY: 'franklin-gothic-urw', sans-serif;;

// Font sizes
$FONT_SIZE_NAV: 2em; // changed from 38px
$FONT_SIZE_LINK: 2vh; //changed from 24px
$FONT_SIZE_LINE: 12vh; // changed from 114px
$FONT_SIZE_DESIGNER: 3vh; //changed from 36px
$FONT_SIZE_TITLE: 48px;
$FONT_SIZE_BODY: 18px;
$FONT_SIZE_LABEL: 2vh; //matches font_size_link
$FONT_SIZE_LINE_PAGE_NAME: 12vh; //changed from 108px

// Font adjustments and weights
$FONT_SPRAT_KERN: -0.1em;
$FONT_SPRAT_WEIGHT: 200;
$FONT_TITLE_WEIGHT: 400;
$FONT_LINK_WEIGHT: 400;
$FONT_LABEL_WEIGHT: 400;