/**
 * Mobile styles in general for the site
 */

html {
  height: 100%;
}

body {
  color: white;
  background-color: black;
  font-family: 'Sprat Type';
  height: 100%;
  width: 100%;

  #root {
    height: 100%;
  }
}