/**
 * Styles for the main site for DESKTOP
 */

// lines and accents
$CIRCLE_RAD : 12px;
$OUTER : $X_MARGIN/8; // outer margin for vertical lines
$LOWER : $BOTTOM_MARGIN/4;
$UPPER : $BOTTOM_MARGIN*2.2;
$LOGO_SIZE: $FONT_SIZE_TITLE - 8px;

body {
  color: white;
  height: 100vh;
	width: 100%;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */

	&::-webkit-scrollbar {
		display: none;
	}
}

.mobile {
  display: none;
}

.main-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* Display font */
h1{
  	font-family: 'Sprat Type Condensed';
  	font-weight: 100;
	font-size: 4em;
	letter-spacing: -.11em;
	word-spacing: .1em;
	margin-bottom: 0;
	text-transform: uppercase;
}

/* Subheader 1 */
h2 {
	font-family: $FONT_DISPLAY;
    letter-spacing: $FONT_SPRAT_KERN;
    font-weight: 600;
    font-size: 3em;
    text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 2em;
}

/* Subheader 2 */
h3 {
	font-family: 'Overpass Mono', monospace;
	font-weight: 400;
	font-size: 1em;
	letter-spacing: -0.05em;
	margin-bottom: 0;
	margin-top: 0;
	text-transform: uppercase;
}

/* Body text */
p {
	font-family: 'franklin-gothic-urw', sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1em;
	margin-top: 0.5em;
}

// Common elements
.title-theme {
	position: fixed;
	z-index: $Z_INDEX_GOD;
	top: $TOP_MARGIN;
	opacity: 0;
	transition-duration: 1s;
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
	pointer-events: none;

	// Title is not visible when no line is selected
	&.start-animation {
		animation: blur-in $ANIMATION_DURATION_BLUR forwards;
	}
	&.visible {
		opacity: 1;
		pointer-events: all;
	}

	span {
		font-size: $FONT_SIZE_TITLE;
		font-family: 'Sprat Type Condensed';
		font-weight: 300;
		letter-spacing: $TITLE_TRACKING;
	}

	#collectiva-logo {
		margin-top: 4px;
		margin-left: 12px;
		height: $LOGO_SIZE;
		width: $LOGO_SIZE;

		svg {
			height: 100%;
			width: 100%;
		}
	}
}