/**
 * Styles for the page showing each individual line
 */

$LEFT_MARGIN: 25vw;
$TITLE_MARGIN_TOP: 15vw;

$SLIDE_AMOUNT_A: 6.66vw;
$SLIDE_AMOUNT_B: -2.8vw;
$SLIDE_AMOUNT_C: 6.4vw;
$SLIDE_AMOUNT_D: 16.6vw;
$BACK_BUTTON_SIZE: 24px;
$BACK_BUTTON_STROKE_WIDTH: 3px;

// Animations
@keyframes slide-image-a {
  from {
    transform: translateY(0);
  } to {
    transform: translateY($SLIDE_AMOUNT_A);
  }
}

@keyframes slide-image-b {
  from {
    transform: translateY(0);
  } to {
    transform: translateY($SLIDE_AMOUNT_B);
  }
}

@keyframes slide-image-c {
  from {
    transform: translateY(0);
  } to {
    transform: translateY($SLIDE_AMOUNT_C);
  }
}

@keyframes slide-image-d {
  from {
    transform: translateY(0);
  } to {
    transform: translateY($SLIDE_AMOUNT_D);
  }
}

#line-page {
  width: 100vw;
  padding-bottom: 2.5vh;

  #background {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 0;
    z-index: -1;

    // TODO: did we want to do a gradual opacity fade for the background?
    #first {
      background-size: cover;
      height: 56.25vw;
      width: 100vw;
      opacity: 0.9;
    }

    #second {
      background-size: cover;
      height: 46vw;
      width: 80vw;
      margin-top: 14px;
      opacity: 0.6;
    }
  }

  #top-title {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin-top: $TOP_MARGIN;
    font-family: 'Sprat Type Condensed';
    font-size: $FONT_SIZE_TITLE;
    font-weight: 100;
    letter-spacing: -0.05em;
    text-decoration: none;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: $LEFT_MARGIN;

    #name {
      // TODO: this is really bad style for font sizes and letter spacing. Not
      // scalable
      margin-top: $TITLE_MARGIN_TOP;
      font-family: 'Sprat Type Condensed';
      font-size: $FONT_SIZE_LINE_PAGE_NAME;
      font-weight: 100;
      letter-spacing: -0.12em;
      text-transform: uppercase;
      word-spacing: $HEADER_WORD_SPACING;
    }

    #designers {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      margin-top: 10px;
      width: 100%;

      #designers-text {
        display: flex;
        font-family: $FONT_SUBHEAD;
        font-weight: 400;
        font-size: 24px;
        text-transform: uppercase;
      }

      #right-bar {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-grow: 1;
        margin-left: 12px;
        margin-bottom: 4px;

        .line {
          flex-grow: 1;
          background-color: white;
          height: 1px;
        }
      }
    }

    #pictures-top {
      margin-top: 9.4vw;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      .sliding-image {
        width: 16vw;
        height: 23.8vw;

        .frame {
          width: calc(100% - 4px);
          height: calc(100% - 2px);
          border: 1px solid white;
        }

        .image {
          width: 16vw;
          height: 23.8vw;
          z-index: -1;
          position: absolute;
          object-fit: none;

          animation-delay: 1s;
          animation-duration: 2s;
          animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
          animation-fill-mode: forwards;

          &#a{
            animation-name: slide-image-a;
          }

          &#b{
            animation-name: slide-image-b;
          }

          &#c{
            animation-name: slide-image-c;
          }

          &#d{
            animation-name: slide-image-d;
          }
        }
      }
    }

    #description {
      width: 36vw;
      margin-top: 12.5vw;
      font-family: $FONT_BODY;
      font-size: $FONT_SIZE_BODY;
    }

    #left-bar {
      margin-top: 4.26vw;
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-grow: 1;
      margin-left: -25vw;

      .dot-basic {
        margin-left: -1px;
      }

      .line {
        width: 60vw;
        flex-grow: 1;
        background-color: white;
        height: 1px;
      }
    }

    #pictures-bottom {
      display: flex;
      flex-direction: row;
      margin-top: 2.86vw;

      img {
        height: 47vw;
      }

      #left {
        margin-right: 3.61vw;
        object-fit: cover;
      }
    }
  }

  .fixed-overlay {
    position: fixed;
    top: $TOP_MARGIN;
    left: $X_MARGIN/2;

    .links {
      position: static;
      top: 0;
      left: 0;

      .link-wrapper .left-bar {
        display: none;
      }
    }
  }

  #back-button-wrapper {
      position: fixed;
      top: calc(#{$TITLE_MARGIN_TOP} + 40px);
      left: $X_MARGIN/2;
    #back-button {

      width: $BACK_BUTTON_SIZE;
      height: $BACK_BUTTON_SIZE;
      border-left: $BACK_BUTTON_STROKE_WIDTH solid white;
      border-bottom: $BACK_BUTTON_STROKE_WIDTH solid white;
      transform: rotate(45deg);

      cursor: pointer;

      opacity: 0;
      transition-duration: 1s;

      &.show {
        opacity: 1;
      }
    }
  }
}