/**
 * All tablet styles (strategic overrides of corresponding mobile/desktop styles)
 */

.navbar {
    width: 80% !important;
    bottom: 20% !important;
    
    .lineLabel {
      font-size: 8vh !important;
    }
}

// Height-responsive font sizes

.landing-page {
  .link {
    font-size: 6vh !important;
  }

  .logo {
    height: 10vh !important;
  }

  #curr_line {
    font-size: 10vh !important;
  }

  #label {
    font-size: 4vh !important;
  }
}

.title-theme {
  font-size: 8vh !important;
}