/**
 * Landing page navbar
 * https://github.com/EthanNakache/Sprat-type
 */

.navbar {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 12px 0 12px 0;

  // Put this navbar at the bottom
  position: fixed;
  bottom: 20%;

  .diamond {
    margin: auto;
    width: 8.8px;
    height: 8.8px;
    background-color: white;
    transform: rotate(45deg);
    margin-bottom: 10px;
    visibility: hidden;

    &.selected {
      visibility: visible;
    }
  }

  .lineLabel{
    width: 50px;
    font-size: 8vh;
  }
}
