/**
 * About page for mobile
 */

$HORIZONTAL_MARGIN: 25px;
$VERTICAL_MARGIN: 12px;

#about-page-mobile {
  position: absolute;
  width: 100vw;

  top: $LANDING_PAGE_HEADER_HEIGHT;

  opacity: 0;
  z-index: 1;

  #left-bar {
    transform: translateX(-100%);
  }

  &.mobile-about-page-open {
    z-index: $Z_INDEX_MAIN_UI;
    opacity: 1;
    transition-duration: 500ms;

    #right-bar {
      animation: right-bar-slide-in $ANIMATION_DURATION_SLIDE_IN forwards;
    }

    #left-bar {
      animation: left-bar-slide-in $ANIMATION_DURATION_SLIDE_IN forwards;
      animation-delay: $ANIMATION_DURATION_SLIDE_IN;
    }
  }

  #header-section {
    #header-text {
      font-family: 'Sprat Type Condensed';
      font-weight: 100;
      font-size: 9.6vw;
      letter-spacing: -0.11em;
      text-transform: uppercase;
    }

    .bar {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .line {
      display: flex;
      flex-grow: 1;

      border-bottom: 1px solid white;
    }

    #right-bar {
      margin-left: $HORIZONTAL_MARGIN;
    }

    #left-bar {
      margin-right: $HORIZONTAL_MARGIN;
    }
  }

  .text-box {
    margin-left: $HORIZONTAL_MARGIN;
    margin-right: $HORIZONTAL_MARGIN;
    margin-top: $VERTICAL_MARGIN;
    margin-bottom: $VERTICAL_MARGIN;
    font-family: $FONT_BODY;
  }
}