
// TODO: unsure why this font is so much smaller than figma
$FONT_SIZE_TITLE: 48px;

/**
 * 3D model in the landing page.
 */
.landing-page-background {
  z-index: -1;
  position: fixed;
  background-color: black;
  width: 100%;
  height: 100%;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

  #landing-page-cube {
    width: 100%;
    height: 100%;
  }

  &.mobile-line-menu-open {
    top: 0px;
    height: 200px;
  }

  &.mobile-nav-menu-open {
    bottom: 0px;
    height: 200px;
  }
}

.landing-page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  &.mobile-line-menu-open {
    position: static;
  }

  .title-theme {
    position: fixed;
    font-size: $FONT_SIZE_TITLE;
    // Vertically stretch the font
    transform: scale(1, 1.5);
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

    &.mobile-line-menu-open {
      // Title becomes a bit smaller on the mobile menu open
      font-size: $FONT_SIZE_TITLE * 0.8;
      top: 90px;
    }

    &.mobile-nav-menu-open {
      // Title becomes a bit smaller on the mobile menu open
      font-size: $FONT_SIZE_TITLE * 0.8;
      bottom: 60px;
    }
  }

  // Hide desktop elements
  .link {
    display: none;
  }

  .lineLabel {
    display: none;
  }

  #label {
    display: none;
  }

  #curr_line {
    display: none;
  }

  .logo {
    position: fixed;
    bottom: 21px;
    width: 69px;
    height: 90px;

    &.mobile-line-menu-open {
      display: none;
    }

    &.mobile-nav-menu-open {
      display: none;
    }
  }
}
