
// TODO: unsure why this font is so much smaller than figma
$FONT_SIZE_TITLE: 48px;

.landing-page-background {
  z-index: -1;
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100vh;

  #landing-page-cube {
    width: 100%;
    height: 100vh;
  }
}

.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .title-theme {
    font-size: $FONT_SIZE_TITLE;
  }

  // Hide desktop elements
  .link {
    display: none;
  }

  .lineLabel {
    display: none;
  }

  .logo {
    position: absolute;
    width: 69px;
    height: 90px;
    bottom: 21px;
  }
}
