/**
 * Styles for the menu that shows all the lines in the show
 */

#mobile-menu-line-list {
  position: absolute;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

  // Initially, the line menu is hidden and below
  transform: translateY($LINE_ELEMENT_HEIGHT*11);

  &.mobile-line-menu-open {
    transform: translateY($LINE_ELEMENT_HEIGHT*7);
  }

  .line-element {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: $LINE_ELEMENT_HEIGHT;
    width: 100%;
    border-top: 1px solid white;
    background-color: black;
    cursor: pointer;

    .bullet {
      width: 8px;
      height: 8px;
      background-color: white;
      margin: 9px;
      transform: rotate(45deg);
    }

    .line-element-body {
      margin-top: 32px;

      .title {
        font-size: 36px;
      }

      .designers {
        height: 16px;
        margin-top: 16px;
        font-size: 16px;
      }
    }
  }
}