/**
 * Component on mobile that opens the menu
 */

$MOBILE_MENU_OPEN_SIZE: 30px;
$LEFT_MARGIN: 30px;
$HEADER_HEIGHT: 90px;
$HEADER_FONT_SIZE: 30px;
$LOGO_SIZE: $HEADER_FONT_SIZE - 8px;

#mobile-open-menu-wrapper {
  height: $HEADER_HEIGHT;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  z-index: $Z_INDEX_HEADER;

  &.mobile-nav-menu-open {
    background: $LANDING_PAGE_BACKGROUND_COLOR;
  }

  &.mobile-line-menu-open {
    background: $LANDING_PAGE_BACKGROUND_COLOR;
  }

  &.mobile-nav-menu-open #title {
    opacity: 1;
  }

  &.mobile-line-menu-open #title {
    opacity: 1;
  }

  #title {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    position: absolute;
    opacity: 0;
    transition-duration: 1s;

    #mobile-open-menu-header {
      display: flex;
      flex-direction: row;
      align-items: center;

      #text {
        font-family: 'Sprat Type Condensed';
        font-weight: 300;
        font-size: 30px;
        letter-spacing: -0.12em;
      }

      #collectiva-logo {
        margin-top: 4px;
        margin-left: 4px;
        height: $LOGO_SIZE;
        width: $LOGO_SIZE;

        svg {
          height: 100%;
          width: 100%;
        }
      }
    }
  }

  #mobile-open-menu {
    width: $MOBILE_MENU_OPEN_SIZE;
    height: $MOBILE_MENU_OPEN_SIZE;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: $LEFT_MARGIN;
    z-index: $Z_INDEX_HEADER+1;

    #mobile-open-menu-sign {
      font-size: 40px;
      margin-bottom: 10px;
    }

    #mobile-open-menu-border {
      position: absolute;
      border: 1px solid white;
      transform: rotate(45deg);
      width: $MOBILE_MENU_OPEN_SIZE;
      height: $MOBILE_MENU_OPEN_SIZE;
    }
  }
}