/**
 * Styles for the menu that shows all the nav links
 */

#mobile-menu-nav-list {
  position: fixed;
  width: 100%;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

  // Initially, the line menu is hidden and below
  opacity: 0;

  &.mobile-nav-menu-open {
    opacity: 1;
  }

  .nav-element {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: $NAV_ELEMENT_HEIGHT;
    width: 100%;
    border-top: 1px solid white;
    background-color: black;
    cursor: pointer;
    text-decoration: none;

    &.end {
      border-bottom: 1px solid white;
    }

    .bullet {
      width: 8px;
      height: 8px;
      background-color: white;
      margin: 9px;
      transform: rotate(45deg);
    }

    .nav-element-body {
      .title {
        color: white;
        font-size: 36px;
        transform: scale(1, 1.2);
      }
    }
  }
}
