/**
 * Component on mobile that opens the menu
 */

$MOBILE_MENU_OPEN_SIZE: 30px;
$LEFT_MARGIN: 30px;

#mobile-open-menu-wrapper {
  position: fixed;
  top: 34px;
  left: $LEFT_MARGIN;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100vw;
  z-index: $Z_INDEX_HEADER;

  &.mobile-nav-menu-open #title {
    opacity: 1;
  }

  &.mobile-line-menu-open #title {
    opacity: 1;
  }

  #title {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    position: absolute;
    left: -$LEFT_MARGIN;
    bottom: 1px;
    opacity: 0;
    transition-duration: 1s;

    #text {
      font-family: 'Sprat Type Condensed';
      font-weight: 300;
      font-size: 30px;
      letter-spacing: -0.12em;
    }
  }

  #mobile-open-menu {
    width: $MOBILE_MENU_OPEN_SIZE;
    height: $MOBILE_MENU_OPEN_SIZE;
    display: flex;
    justify-content: center;
    align-items: center;

    #mobile-open-menu-sign {
      font-size: 40px;
      margin-bottom: 10px;
    }

    #mobile-open-menu-border {
      position: absolute;
      border: 1px solid white;
      transform: rotate(45deg);
      width: $MOBILE_MENU_OPEN_SIZE;
      height: $MOBILE_MENU_OPEN_SIZE;
    }
  }
}