/**
 * Styles for the menu that shows all the nav links
 */

#mobile-menu-nav-list {
  position: absolute;
  width: 100%;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  left: 50px;
  top: 80px;

  // Initially, the line menu is hidden and below
  opacity: 0;
  z-index: -2;

  &.mobile-nav-menu-open {
    opacity: 1;
    z-index: $Z_INDEX_HEADER;
  }

  .nav-element {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: black;
    cursor: pointer;
    text-decoration: none;
    margin-top: 20px;

    &.active .nav-element-body {
      .title {
        opacity: 1;
      }

      .right-bar {
        transform: translateX(0);
      }
    }

    .nav-element-body {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      width: 100%;

      .title {
        display: flex;
        margin-right: 30px;
        font-family: $FONT_DISPLAY;
        font-weight: $FONT_WEIGHT_LIGHT;
        letter-spacing: $FONT_SPRAT_KERN;
        text-transform: uppercase;
        font-size: 3em;
        color: white;
        opacity: 0.65;
      }

      .right-bar {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-grow: 1;
        transform: translateX(100vw);
        transition-duration: 500ms;
        transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

        .line {
          border-bottom: 1px solid white;
          height: 1px;
          width: 100%;
          margin-bottom: 1px;
        }
      }
    }
  }
}
