/**
 * Styles for the menu that shows all the nav links
 */

#mobile-menu-nav-list {
  position: absolute;
  width: 100%;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  left: 50px;
  top: 73px;

  // Initially, the line menu is hidden and below
  opacity: 0;
  z-index: -2;

  &.mobile-nav-menu-open {
    opacity: 1;
    z-index: 2;
  }

  .nav-element {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: black;
    cursor: pointer;
    text-decoration: none;
    margin-top: 33px;

    .bullet {
      width: 8px;
      height: 8px;
      background-color: white;
      margin: 9px;
      transform: rotate(45deg);
    }

    .nav-element-body {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      width: 100%;

      .title {
        display: flex;
        margin-right: 30px;

        color: white;
        font-size: 48px;
        transform: scale(1, 1.2);

        opacity: 0.65;

        &.selected {
          opacity: 1;
        }
      }

      .right-bar {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-grow: 1;

        .line {
          border-bottom: 1px solid white;
          height: 1px;
          width: 100%;
          margin-bottom: 1px;
        }
      }
    }
  }
}
