/**
 * Styles for the menu that shows all the lines in the show
 */

#mobile-menu-line-list {
  position: absolute;
  top: $LANDING_PAGE_HEADER_HEIGHT;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

  // Initially, the line menu is hidden to the right
  transform: translateX(100vw);

  &.mobile-line-menu-open {
    z-index: 3;
    transform: translateX(0);
  }

  .line-element {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid white;
    background-color: black;
    text-decoration: none;
    cursor: pointer;

    .line-element-body {
      margin-top: 25px;
      margin-bottom: 29px;
      margin-left: 32px;

      .title {
        font-family: 'Sprat Type Condensed';
        font-weight: 100;
        font-size: 36px;
        text-transform: uppercase;
        transform: scale(1, 1.2);
      }

      .designers {
        margin-top: 8px;
        font-size: 20px;
        font-family: $FONT_SUBHEAD;
        text-transform: uppercase;
        letter-spacing: -0.05em;
      }
    }
  }
}